<html>
  <head>
    <meta charset='utf-8' />
    <title>Welcome to Netflix Clone</title>
  </head>
  <body>
    <h1>Hi {{name}},</h1>
    <p>Welcome to Netflix Clone! 🎬</p>
    <p>Click <a href='{{url}}'>here</a> to get started.</p>
  </body>
</html>